@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

textarea {
  resize: vertical;
  min-height: 2rem;
  max-height: 150px;
}

input:focus,
textarea:focus {
  border-color: var(--color-primary-accent);
}

img {
  width: 100%;
  height: auto;
  display: flex;
}

ul {
  list-style-type: none;
}

p {
  line-height: 1.5;
}

a {
  text-decoration-line: none;
}

/* 

  UTILITIES

*/

:root {
  --color-base-white: #f5f5f5;
  --color-base-black: #242424;

  --color-primary-accent: #f06449;

  --color-text: var(--color-base-black);
  --color-text-invert: #ffffff;

  --color-background-primary: var(--color-base-white);
  --color-background-secondary: var(--color-base-black);
}

.u-accent {
  color: var(--color-primary-accent);
}

.u-min-vh {
  min-height: max(600px, 100vh);
  min-height: max(600px, 100svh);
}

.u-flex {
  display: flex;
}

.u-align-center {
  align-items: center;
}

.u-justify-between {
  justify-content: space-between;
}

.u-justify-center {
  justify-content: center;
}

.is-disabled {
  pointer-events: none;
  opacity: 0.6;
}

.u-visibility-visible {
  --visibility: visible;
  --opacity: 1;
}

.u-visibility-hidden {
  --visibility: hidden;
  --opacity: 0;
}

/* 

  LAYOUT

*/

.l-container {
  --container-max: 1280px;
  --container-padding: clamp(16px, 3vw, 32px);

  max-width: min(var(--container-max), 100% - (var(--container-padding) * 2));
  margin-inline: auto;
}

.l-inline {
  display: flex;
  gap: var(--inline-gap, 0);
}

.l-stack {
  display: flex;
  flex-direction: column;
  gap: var(--stack-gap, 0);
}

.l-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 

  COMPONENTS

*/

.button {
  appearance: none;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-size: var(--button-font-size, 1rem);
  padding-block: var(--button-padding-block, 0.5em);
  padding-inline: var(--button-padding-inline, 1em);

  border-width: var(--button-border-width, 0);
  border-style: var(--button-border-style, solid);
  border-color: var(--button-border-color, currentColor);
  border-radius: var(--button-border-radius, 1rem);

  color: var(--button-color, var(--color-text-invert));
  background: var(--button-background, var(--color-background-secondary));

  transition: transform 200ms ease;
}

.button--circle {
  --button-border-radius: 50%;

  width: var(--button-size, 2em);
  height: var(--button-size, 2em);
  padding: 0;
}

.button--hollow {
  --button-border-width: 2px;
  --button-color: var(--color-base-black);
  --button-background: transparent;
}

.button:hover {
  transform: var(--button-transform, scale(120%));
}

.button:active {
  transform: scale(100%);
}

.link {
  position: relative;
  cursor: var(--cursor, pointer);
  color: inherit;
}

.link:after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: 0;

  width: 0;
  height: 2px;
  background: currentColor;

  transition: all 250ms ease;
}

.link:hover:after {
  left: 0;
  width: 100%;
}

.icon {
  display: flex;
  justify-content: center;
}

.brand {
  display: flex;
  align-items: center;
  gap: 12px;
}

.brand__logo {
  width: 50px;
}

.brand__name {
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 1px;
}

.spinner {
  animation: spinner 1000ms infinite ease-in-out;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* 

  MASTHEAD (HEADER + HERO)

*/

.masthead {
  background: var(--color-background-primary);
}

.header {
  height: 100px;
}

.hero {
  flex: 1;

  width: min(62rem, 100%);
  margin-inline: auto;
  margin-block-end: 48px;
}

.nav__list {
  --inline-gap: 24px;
}

.nav__link {
  text-decoration-line: none;
  font-size: 1rem;
  font-weight: 700;
  color: var(--color-text);
}

.nav__theme-toggle {
  --button-width: auto;
  --button-color: var(--color-base-black);
  --button-background: none;
  --button-font-size: 1.25rem;
}

.hero__title {
  margin-block-end: 12px;

  font-size: 7.2rem;
  line-height: 1;
}

.hero__description {
  max-width: 34ch;
  font-size: 1.5rem;
  line-height: 2;
}

.socials {
  --button-background: var(--color-primary-accent);

  display: flex;
  gap: 12px;
  margin-block-start: 16px;
}

.email-button {
  --button-size: 4.5rem;
  --button-font-size: 2rem;

  position: fixed;
  z-index: 2;
  bottom: 0;
  right: 0;
  margin: 32px;
}

.scroll {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-block-end: 24px;
}

.scroll__icon {
  animation: scroll 1000ms infinite alternate-reverse;
}

.header,
.hero,
.scroll {
  visibility: var(--visibility, visible);
  opacity: var(--opacity, 1);
  transition: all 300ms ease;
}

@keyframes scroll {
  0% {
    transform: translateY(3px);
  }

  100% {
    transition: translateY(-6px);
  }
}

/* 

  MODAL

*/

.modal {
  position: absolute;
  inset: 0 0 auto 0;
  padding-block: 5rem;

  transform: translateX(120%);
  transition: transform 500ms ease;
}

.modal--open {
  transform: translateX(0);
}

.modal__inner {
  position: relative;
  pointer-events: all;

  width: min(1000px, 90%);

  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.55);

  color: var(--color-text-invert);
  background: var(--color-background-secondary);
}

.modal__content {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  flex: 1;
  padding-block: 2.8rem;
  padding-inline: 4.5rem;
}

.modal__content--light {
  color: var(--color-text);
  background: white;
}

.modal__overlay {
  position: absolute;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  padding-inline: 1.2em;

  background: var(--modal-background);
}

.modal__overlay--loading {
  visibility: var(--visibility, hidden);

  z-index: 2;
  font-size: 80px;
  background: var(--color-background-secondary);
}

.modal__overlay--success {
  visibility: var(--visibility, hidden);

  z-index: 0;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  background: green;
}

.modal__close {
  --button-font-size: 3rem;
  --button-background: transparent;

  position: absolute;
  top: 0;
  right: 0;
  margin: 0.3em;
  z-index: 1;

  color: var(--modal-close-color, var(--color-text));
}

.modal__close::after {
  content: "+";
  transform: rotate(45deg);
}

.modal__header {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.modal__title {
  font-size: clamp(1.25rem, 3vw, 1.625rem);
}

.modal__subtitle {
  font-size: clamp(0.625rem, 3vw, 0.875rem);
}

.modal__description {
  line-height: 1.75;
  font-size: clamp(0.75rem, 3vw, 1rem);
}

.modal__languages {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.language {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  flex: 1;
  min-width: 0;
}

.language__logo {
  flex: 1;
  max-width: 60px;
}

.language__title {
  font-weight: 300;
}

.contact__form {
  --stack-gap: 1.5rem;
}

.contact__field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact__input {
  padding-block: 0.5em;
  padding-inline: 0.875em;

  border: none;
  border-bottom: 2px solid white;

  color: currentColor;
  background: transparent;
}

.contact__submit {
  --button-border-width: 1px;
  --button-border-radius: 0;
  --button-border-color: transparent;
  --button-font-size: 1.25rem;
  --button-background: var(--color-primary-accent);

  max-width: 240px;
  font-weight: 700;
  transition: all 350ms ease;
}

.contact__submit--disabled {
  pointer-events: none;
}

.contact__submit:hover {
  --button-transform: 100%;
  --button-border-color: white;
  --button-background: transparent;
}

/* 

  PROJECTS SECTION

*/

.projects {
  background: var(--color-background-primary);
}

.projects__inner {
  --stack-gap: 3rem;
  padding-block: 4rem;
}

.projects__list {
  --stack-gap: 9rem;
}

.projects__title {
  text-align: center;
  font-size: 3rem;
}

.project {
  position: relative;

  border-radius: 16px;
  overflow: hidden;
}

.project::after {
  /* Dark background for hover */
  content: "";
  position: absolute;
  inset: 0;

  opacity: 0;
  background: #1c1d25;
}

.project__content {
  position: absolute;
  inset: 0;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;

  max-width: 60ch;
  margin-inline: 90px;

  transform: translateY(5%);
  opacity: 0;
  color: white;
}

.project__title {
  font-size: 3rem;
}

.project__description {
  margin-block: 8px;
}

.project__links {
  display: flex;
  gap: 16px;
}

.project__link {
  color: var(--color-text-invert);
  font-size: 1.5rem;
  cursor: var(--cursor, pointer);
}

.project::after,
.project__content,
.project__media {
  transition: all 400ms ease;
}

.project:hover::after {
  opacity: 0.7;
}

.project:hover .project__media {
  transform: scale(1.07);
  filter: blur(5px);
}

.project:hover .project__content {
  opacity: 1;
  transform: translateY(0%);
}

/* 

  FOOTER

*/

.footer {
  color: var(--color-text-invert);
  background: var(--color-background-secondary);
}

.footer__inner {
  --stack-gap: 2rem;

  padding-block: 4rem;
  text-align: center;
}

.footer__socials {
  --inline-gap: 4rem;
}

@media (min-width: 48rem) {
  .modal__inner {
    flex-direction: row;
    --modal-close-color: var(--color-text-invert);
  }
}
