@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

img {
  width: 100%;
  height: auto;
  display: flex;
}

ul {
  list-style-type: none;
}

p {
  line-height: 1.5;
}

a {
  text-decoration-line: none;
}

/* 

  UTILITIES

*/

:root {
  --color-base-white: #f5f5f5;
  --color-base-black: #242424;

  --color-primary-accent: #f06449;

  --color-text: var(--color-base-black);
  --color-background: var(--color-base-white);
}

.u-accent {
  color: var(--color-primary-accent);
}

.u-min-vh {
  min-height: max(600px, 100vh);
  min-height: max(600px, 100svh);
}

/* 

  LAYOUT

*/

.l-container {
  --container-max: 1280px;
  --container-padding: clamp(16px, 3vw, 32px);

  max-width: min(var(--container-max), 100% - (var(--container-padding) * 2));
  margin-inline: auto;
}

.l-row,
.l-row-align-center,
.l-col {
  display: flex;
}

.l-row-align-center {
  align-items: center;
}

.l-col {
  flex-direction: column;
}

/* 

  COMPONENTS

*/

.button {
  appearance: none;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: var(--button-border-radius, 50%);
  width: var(--button-width, 32px);
  height: var(--button-height, 32px);
  font-size: var(--button-font-size, 14px);

  color: var(--button-content-color, #fff);
  background: var(--button-background, var(--color-base-black));

  transition: transform 200ms ease;
}

.button--hollow {
  --button-background: transparent;
  --button-content-color: var(--color-base-black);
  border: 2px solid var(--color-base-black);
}

.button:hover {
  transform: scale(120%);
}

.button:active {
  transform: scale(100%);
}

/* 

  HEADER

*/

.masthead {
  background: var(--color-background);
}

.header {
  height: 100px;
  justify-content: space-between;
}

.nav__list {
  gap: 24px;
}

.nav__link {
  text-decoration-line: none;
  font-size: 1rem;
  font-weight: 700;
  color: var(--color-text);
}

.nav__theme-toggle {
  --button-width: auto;
  --button-content-color: var(--color-base-black);
  --button-background: none;
  --button-font-size: 1.25rem;
}

.brand {
  gap: 12px;
}

.brand__logo {
  width: 50px;
}

.brand__name {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 1px;
}

/*

  HERO

*/

.hero {
  flex: 1;
  justify-content: center;

  width: min(62rem, 100%);
  margin-inline: auto;
  margin-block-end: 48px;
}

.hero__title {
  margin-block-end: 12px;

  font-size: 7.2rem;
  line-height: 1;
}

.hero__description {
  max-width: 34ch;
  font-size: 1.5rem;
  line-height: 2;
}

.socials {
  --button-background: var(--color-primary-accent);

  gap: 12px;
  margin-block-start: 16px;
}

.email-button {
  --button-width: 70px;
  --button-height: 70px;
  --button-font-size: 32px;

  position: absolute;
  bottom: 0;
  right: 0;
  margin: 32px;
}

.scroll {
  --button-width: 20px;
  --button-height: 30px;
  --button-border-radius: 16px;

  position: absolute;
  bottom: 0;
  left: 50%;
  margin: 16px;
}

.scroll__icon {
  animation: scroll 1000ms infinite alternate-reverse;
}

@keyframes scroll {
  0% {
    transform: translateY(2px);
  }

  100% {
    transition: translateY(-5px);
  }
}

/* 

  PROJECTS

*/

.projects {
  padding-block: 50px;
  background: var(--color-background);
}

.projects__title {
  text-align: center;
  font-size: 3rem;
}

.project {
  position: relative;

  border-radius: 16px;
  overflow: hidden;
}

.project::after {
  /* Dark background for hover */
  content: "";
  position: absolute;
  inset: 0;
  
  opacity: 0;
  background: #1c1d25;
}

.project__content {
  position: absolute;
  inset: 0;
  z-index: 1;
  
  justify-content: center;
  gap: 8px;
  
  max-width: 60ch;
  margin-inline: 90px;
  
  transform: translateY(5%);
  opacity: 0;
  color: white;
}

.project__title {
  font-size: 3rem;
}

.project__description {
  margin-block: 8px;
}

.project__links {
  gap: 16px;
}

.project__link {
  color: white;
  font-size: 1.5rem;
}

.project::after,
.project__content,
.project__media {
  transition: all 200ms ease;
}

.project:hover::after {
  opacity: 0.7;
}

.project:hover .project__media {
  transform: scale(1.07);
  filter: blur(5px);
}

.project:hover .project__content {
  opacity: 1;
  transform: translateY(0%);
}